<%- include('../partials/header', {imports: data.imports}) %>

<div class="column main">
    <div class="row" id="user-overview">
        <div class="block row image" id="account">
            <img src="https://via.placeholder.com/200" alt="Account Name">
            <div class="block column">
                <h3>David Krajewski</h3>
                <h5>Class of <b>2021</b></h5>
            </div>
        </div>
        <div class="block row" id="statistics">
            <div class="column" id="statistics-GPA">
                <p>Weighted GPA</p>
                <h2 id="GPA">5.1</h2>
                <p>Unweighted GPA</p>
                <h3 id="GPA">4.8</h3>
            </div>
            <div class="column" id="statistics-chart">
                <p>No data available. (This would be a graph of the GPA progression)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column" id="assignments">
            <div class="block column assignment">
                <div class="column">
                    <h3 class="assignment-name">Finish Plucky Pilots API</h3>
                    <h4 class="assignment-class">AP Computer Science</h4>
                    <div style="flex: 1"></div>
                    <h5 class="assignment-date">Due Tomorrow</h5>
                </div>
                <p class="desc">
                    This is a description of the assignment as the user would see it
                    on Google Classroom. The card can be expanded to show the full assignment.
                </p>
            </div>
            <div class="block column assignment">
                <div class="column">
                    <h3 class="assignment-name">Finish Plucky Pilots API</h3>
                    <h4 class="assignment-class">AP Computer Science</h4>
                    <div style="flex: 1"></div>
                    <h5 class="assignment-date">Due Tomorrow</h5>
                </div>
                <p class="desc">
                    This is a description of the assignment as the user would see it
                    on Google Classroom. The card can be expanded to show the full assignment.
                </p>
            </div>
            <div class="block column assignment">
                <div class="column">
                    <h3 class="assignment-name">That english project long overdue</h3>
                    <h4 class="assignment-class">Literature of California</h4>
                    <div style="flex: 1"></div>
                    <h5 class="assignment-date">Due 3000BC</h5>
                </div>
                <p class="desc">
                    This is a description of the assignment as the user would see it
                    on Google Classroom. The card can be expanded to show the full assignment.
                </p>
            </div>
            <div class="block column assignment">
                <div class="column">
                    <h3 class="assignment-name">Dissapoint your parents</h3>
                    <h4 class="assignment-class">Real Life</h4>
                    <div style="flex: 1"></div>
                    <h5 class="assignment-date">Due Today</h5>
                </div>
                <p class="desc">
                    This is a description of the assignment as the user would see it
                    on Google Classroom. The card can be expanded to show the full assignment.
                </p>
            </div>
        </div>
        <div class="column" id="grades">
            <div class="block row">
                <button class="transparent" onClick="openClasses()">Open All</button>
                <button class="transparent" onClick="closeClasses()">Close All</button>
                <div style="flex: 1"></div>
                <select id="selector" onchange="fetchGrades()">
                    <option value="all" class="option">All Grades</option>
                    <option value="week">This Week</option>
                    <option value="q1">Quarter 1</option>
                    <option value="q2">Quarter 2</option>
                    <option value="q3">Quarter 3</option>
                    <option value="q4">Quarter 4</option>
                </select>
            </div>
            <div class="column block">
                <% if(!data.grades) { %>
                    <p>No grades available.</p>
                <% } else { %>
                    <% for(g in data.grades) { %>
                        <div class="class column">
                            <div class="class-info row">
                                <h4><%= data.grades[g].name %></h4>
                                <div style="flex: 1"></div>
                                <h4 class="class-grade"><%= data.grades[g].gradeNumber %> <span><%= data.grades[g].gradeLetter %></span></h4>        
                            </div>
                            <div class="class-details column">
                                <div class="row">
                                    <div class="column class-grade-overview">
                                        <h4><%= data.grades[g].gradeLetter %></h4>
                                        <h3><%= data.grades[g].gradeNumber %></h3>
                                    </div>
                                    <div class="column grade-table">
                                        <p>this is where the table would go.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>